#container {
    position: absolute;
    height: 700px;
    width: 1100px;
    border: 2px solid #000;
    overflow: hidden;
    perspective: 550px;
}

#world {
    position: absolute;
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
}

#pawn { 
    position: absolute;
    top: 350px;
    left: 550px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: blueviolet;
    transform: translate(-50%, -50%);
    z-index: 1000 !important;
}